// Variables

// Table of Content
// 1. Primary
// 2. Content
// 3. BG

// 1. Primary
// Color Palette Link: https://colorhunt.co/palette/181c143c3d37697565ecdfcc
$primary-black: #191a19;
$secondary-white: #ffffff;
$tertiary-sepia: #774e24;

// 2. Content

//3. BG
