// Variables

// Table of Content
// 1. Primary
// 2. Content
// 3. BG

// 1. Primary
// Color Palette Link: https://colorhunt.co/palette/181c143c3d37697565ecdfcc
$primary-gray: #3c3d37;
$secondary-green: #697565;
$tertiary-beige: #ecdfcc;

// 2. Content

//3. BG
$bg-white: #ffffff;
$bg-black: #181c14;
