.exp-card {
  .container {
    margin-top: 2.5rem;
    display: flex;
    flex-direction: row;
    .left {
      text-align: center;
      flex-basis: 20%;
    }
    .right {
      flex-grow: 1;
      padding-left: 1.35rem;
      .content:nth-child(2) {
        font-size: $font-size-12;
      }
      .content:nth-child(3) {
        margin-top: 0.5rem;
      }
    }
  }
}

// Responsive styles
@media (max-width: 768px) {
  .exp-card {
    font-size: $font-size-12;
    .container {
      margin-left: 3rem;
      margin-right: 3rem;
      .left {
        text-align: left;
      }
      .right {
        .content:nth-child(2) {
          font-size: $font-size-10;
        }
      }
    }
  }
}
