.exp-card {
  .container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    border-left: 5px solid white;

    &:nth-child(even) {
      border-right: 5px solid white;
      border-left: none;
    }
    .left {
      flex-basis: 85%;
      margin-left: 1.5rem;
      padding: 0.25rem;

      .position {
        margin-top: 1rem;
        font-size: $font-size-20;
        font-weight: $font-weight-500;
      }
      .company {
        margin-bottom: 1.25rem;

        a {
          text-decoration: none;
          color: inherit;
          font-size: $font-size-14;
          font-weight: $font-weight-300;

          &:hover {
            color: $tertiary-sepia;
          }
        }
      }
      .description {
        margin-bottom: 1.25rem;
        font-size: $font-size-14;
        font-weight: $font-weight-400;
      }
    }
    .right {
      flex: 1;

      .year {
        margin-top: 1.25rem;
        width: fit-content;
        font-size: $font-size-14;
      }
    }
  }
}

// Responsive styles
@media (max-width: 768px) {
  .exp-card {
    .container {
      .left {
        .position {
          font-size: $font-size-16;
        }
        .company {
          a {
            font-size: $font-size-10;
          }
        }
        .description {
          font-size: $font-size-10;
        }
      }
      .right {
        .year {
          font-size: $font-size-8;
        }
      }
    }
  }
}
