.navbar {
  background-color: $primary-black;
  height: 60px;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;

  .navbar-left,
  .navbar-right {
    .nav-btn {
      background: none;
      border: none;
      text-decoration: none;
      cursor: pointer;
      color: $secondary-white;
    }

    .nav-btn:hover {
      color: $tertiary-sepia;
    }
  }
  .navbar-left {
    margin-left: 30px;
    .nav-btn {
      font-size: $font-size-24;
      font-weight: $font-weight-700;
    }
  }
  .navbar-right {
    margin-right: 30px;
    .nav-btn {
      font-size: $font-size-20;
      font-weight: $font-weight-700;
    }
  }
}
