.pill-container {
  margin-top: 0.25rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  color: $secondary-white;

  .primary-pill {
    width: fit-content;
    padding: 0.5rem 1rem;
    margin: 0.25rem 0rem;
    background: $tertiary-sepia;
    font-size: $font-size-10;
    font-weight: $font-weight-200;
    border: none;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
