.pill-container {
  padding: 0.25rem 0;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;

  .primary-pill {
    width: fit-content;
    padding: 0.5rem 1rem;
    margin: 0.25rem 0rem;
    background: $primary-black;
    font-size: $font-size-10;
    font-weight: $font-weight-500;
    border: 1px solid $tertiary-sepia;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background: $tertiary-sepia;
      transform: scale(1.05);
    }
  }
}

// Responsive styles
@media (max-width: 768px) {
  .pill-container {
    .primary-pill {
      font-size: $font-size-8;
    }
  }
}
