.project-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  .project-card-content {
    .card {
      box-sizing: border-box;
      width: 12.5rem;
      height: 16.25rem;
      background: $primary-black;
      color: $secondary-white;
      font-weight: $font-weight-700;
      border: 1px solid $tertiary-sepia;
      box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
      backdrop-filter: blur(6px);
      text-align: center;
      cursor: pointer;
      transition: all 0.5s;
      display: flex;
      align-items: center;
      justify-content: center;
      user-select: none;

      &:hover {
        border: 1px solid $secondary-white;
        transform: scale(1.05);
      }

      &:active {
        transform: scale(0.95) rotateZ(1.7deg);
      }
    }
  }
}

// Responsive styles
@media (max-width: 768px) {
  .project-card {
    .project-card-content {
      .card {
        width: 7.5rem;
        height: 11.25rem;
      }
    }
  }
}
