.project-card {
  .container {
    margin-top: 2.5rem;
    display: flex;
    flex-direction: row;
    .left {
      background-color: $secondary-white;
      border-radius: 10px;
      flex-basis: 20%;
      // Centering the picture
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 80px;
        height: auto;
        display: block;
      }
    }
    .right {
      flex-grow: 1;
      padding-left: 1.35rem;
      .detail:first-child {
        margin-bottom: 10px;
      }
    }
  }
}

// Responsive styles
@media (max-width: 768px) {
  .project-card {
    font-size: $font-size-12;
    .container {
      margin-left: 3rem;
      margin-right: 3rem;
    }
  }
}
