.experience {
  height: 100vh;
  background-color: $primary-black;

  .content {
    margin: 0 5rem;

    .page-title {
      padding-top: 10rem;
      margin-bottom: 3rem;
      font-size: $font-size-28;
      font-weight: $font-weight-800;
      text-transform: uppercase;
    }
    .exp-card {
    }
  }
}

// Responsive styles
@media (max-width: 768px) {
  .experience {
    .content {
      margin: 0 1.5rem;

      .page-title {
      }
      .exp-card {
      }
    }
  }
}
