.home-page-container {
  display: flex;
  width: 100vw;
}

.box {
  flex: 1;
  height: 100vh;
}

.box:first-child {
  background-color: $bg-black;
}

.profile-container {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
}

.profile-container > div:first-child {
  text-align: left;
}
