.home-page {
  display: flex;
  width: 100vw;
}

.box {
  flex: 1;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.box:first-child {
  background-color: $bg-black;
}

.profile-container {
  margin: 0 80px;
  display: flex;
  align-items: center; /* Centers vertically */
  justify-content: center; /* Centers horizontally */
  height: 100vh; /* Full viewport height (or adjust as needed) */
  flex-direction: column;
  color: white;

  .name {
    font-size: $font-size-24;
    margin-bottom: 1rem;
  }

  .position {
    font-size: $font-size-16;
    margin-bottom: 0.5rem;
  }

  .intro {
    font-size: $font-size-12;
  }
}

.profile-container > div {
  width: 100%;
}

.content-container {
  margin: auto;
}
