.project {
  background-color: $primary-black;

  .content {
    padding-top: 8rem;
    padding-bottom: 8rem;
    margin: 0 10rem;

    .page-title {
      margin-bottom: 8.75rem;
      font-size: $font-size-28;
      font-weight: $font-weight-800;
      text-transform: uppercase;
    }
  }
}

// Responsive styles
@media (max-width: 768px) {
  .project {
    .content {
      margin: 0 1.5rem;

      .page-title {
      }
    }
  }
}
